In [23]:
%matplotlib inline
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import re

## Reading data and extracting synopsis column

In [24]:
df = pd.read_csv("ANNreviews.csv")

In [25]:
df.head()

,Name2,Review,Synopsis,Good_points,Ratings,Name,Bad_points
0,GN 7,"\r\n,\r\nA Silent Voice reached its climax at ...","At last, Shoya has woken up. Racing to the bri...",Maintains A Silent Voice's usual acuity of ar...,"{'Overall': 'B+', 'Art': 'A-', 'Story': 'B-'}",A Silent Voice,"Feels a bit overlong in its resolutions, and ..."
1,DVD 1,"\r\n,\r\nTo fully and correctly appreciate 009...",In a world where the Cold War continues well p...,"Musical score, fan service.","{'Animation': 'B-', 'Overall (dub)': 'B', 'Mus...",009-1,"Some character designs are appallingly ugly, ..."
2,Sub.Blu-Ray,"\r\n,\r\nWhat happens when you take twenty-sev...",Haruto can't bring himself to accept that his ...,"Some great voice work and nice animation, tri...","{'Animation': 'B', 'Overall (sub)': 'C', 'Musi...",A Town Where You Live,Story comes off melodramatic without much emo...
3,GN 6,"\r\n,\r\nIt's always an interesting experience...","Seeing Shoko about to leap off her balcony, Sh...",Doubles down on the manga's terrific characte...,"{'Overall': 'A', 'Art': 'A-', 'Story': 'A'}",A Silent Voice,A couple dramatic points felt a little loosel...
4,GN 4,"\r\n,\r\nIt feels like A Silent Voice's densit...",Things continue to change little by little for...,Continues to demonstrate wondrously poignant ...,"{'Overall': 'A-', 'Art': 'B', 'Story': 'A'}",A Silent Voice,Some dramatic developments here could have us...

In [26]:
df.describe()

,Name2,Review,Synopsis,Good_points,Ratings,Name,Bad_points
count,3917,4174,4174,4142,4174,4162,4139
unique,1583,4174,4171,4129,2574,2561,4128
top,GN 1,"\r\n,Super Robot Wars-- best to assume you don...","\r\n,\r\nImagine if the internet was 'projecte...",,{},Bleach,
freq,329,1,2,5,73,29,4

In [27]:
nodes = []
edges = []
pairs = []

In [28]:
from nltk import word_tokenize

def preprocess_text(text):
    if not pd.isnull(text):
        text = re.sub(r'\n|\t|\r', r' ', text, flags = re.DOTALL) #removing \n, \t and \r
        text = re.sub(r' +', r' ', text) #multiple spaces to one space
        text = re.sub(r'\d+', r'', text) # we really don't want to have '9/10' as the most important feature
        text = text.lower()
        text = word_tokenize(text)   
    return text

In [29]:
# Preprocessing all text (except titles) form Anime News Network
columns = ["Synopsis", "Review" ,"Good_points", "Bad_points"]

df2 = df.copy()

for col in columns:
    df2[col] = df[col].map(preprocess_text)

In [30]:
df.head()

,Name2,Review,Synopsis,Good_points,Ratings,Name,Bad_points
0,GN 7,"\r\n,\r\nA Silent Voice reached its climax at ...","At last, Shoya has woken up. Racing to the bri...",Maintains A Silent Voice's usual acuity of ar...,"{'Overall': 'B+', 'Art': 'A-', 'Story': 'B-'}",A Silent Voice,"Feels a bit overlong in its resolutions, and ..."
1,DVD 1,"\r\n,\r\nTo fully and correctly appreciate 009...",In a world where the Cold War continues well p...,"Musical score, fan service.","{'Animation': 'B-', 'Overall (dub)': 'B', 'Mus...",009-1,"Some character designs are appallingly ugly, ..."
2,Sub.Blu-Ray,"\r\n,\r\nWhat happens when you take twenty-sev...",Haruto can't bring himself to accept that his ...,"Some great voice work and nice animation, tri...","{'Animation': 'B', 'Overall (sub)': 'C', 'Musi...",A Town Where You Live,Story comes off melodramatic without much emo...
3,GN 6,"\r\n,\r\nIt's always an interesting experience...","Seeing Shoko about to leap off her balcony, Sh...",Doubles down on the manga's terrific characte...,"{'Overall': 'A', 'Art': 'A-', 'Story': 'A'}",A Silent Voice,A couple dramatic points felt a little loosel...
4,GN 4,"\r\n,\r\nIt feels like A Silent Voice's densit...",Things continue to change little by little for...,Continues to demonstrate wondrously poignant ...,"{'Overall': 'A-', 'Art': 'B', 'Story': 'A'}",A Silent Voice,Some dramatic developments here could have us...

In [31]:
df2.head()

,Name2,Review,Synopsis,Good_points,Ratings,Name,Bad_points
0,GN 7,"[,, a, silent, voice, reached, its, climax, at...","[at, last, ,, shoya, has, woken, up, ., racing...","[maintains, a, silent, voice, 's, usual, acuit...","{'Overall': 'B+', 'Art': 'A-', 'Story': 'B-'}",A Silent Voice,"[feels, a, bit, overlong, in, its, resolutions..."
1,DVD 1,"[,, to, fully, and, correctly, appreciate, -, ...","[in, a, world, where, the, cold, war, continue...","[musical, score, ,, fan, service, .]","{'Animation': 'B-', 'Overall (dub)': 'B', 'Mus...",009-1,"[some, character, designs, are, appallingly, u..."
2,Sub.Blu-Ray,"[,, what, happens, when, you, take, twenty-sev...","[haruto, ca, n't, bring, himself, to, accept, ...","[some, great, voice, work, and, nice, animatio...","{'Animation': 'B', 'Overall (sub)': 'C', 'Musi...",A Town Where You Live,"[story, comes, off, melodramatic, without, muc..."
3,GN 6,"[,, it, 's, always, an, interesting, experienc...","[seeing, shoko, about, to, leap, off, her, bal...","[doubles, down, on, the, manga, 's, terrific, ...","{'Overall': 'A', 'Art': 'A-', 'Story': 'A'}",A Silent Voice,"[a, couple, dramatic, points, felt, a, little,..."
4,GN 4,"[,, it, feels, like, a, silent, voice, 's, den...","[things, continue, to, change, little, by, lit...","[continues, to, demonstrate, wondrously, poign...","{'Overall': 'A-', 'Art': 'B', 'Story': 'A'}",A Silent Voice,"[some, dramatic, developments, here, could, ha..."

In [75]:
len(df)

4174

In [32]:
synopsis = df2["Synopsis"].copy()

In [33]:
synopsis[:10]

0    [at, last, ,, shoya, has, woken, up, ., racing...
1    [in, a, world, where, the, cold, war, continue...
2    [haruto, ca, n't, bring, himself, to, accept, ...
3    [seeing, shoko, about, to, leap, off, her, bal...
4    [things, continue, to, change, little, by, lit...
5    [it, 's, a, few, years, in, the, future, (, wh...
6    [six, short, stories, reveal, how, love, lette...
7    [summer, vacation, is, approaching, ,, and, to...
8    [six, years, ago, ,, shoya, 's, bullying, of, ...
9    [years, ago, ,, it, was, shoya, 's, bullying, ...
Name: Synopsis, dtype: object

In [34]:
len(synopsis)

4174

In [35]:
synopsis.map(len).mean()

147.94226161954958

# Counting occurrences

In [38]:
from collections import defaultdict

words = defaultdict(int)

for syn in synopsis:
    for word in syn:
        words[word] += 1

In [39]:
df_words = pd.DataFrame(list(words.items()), columns = ['Word', 'Count'])

In [40]:
df_words[df_words['Count'] > 300].head(20)

         Word  Count
79       each    381
141   himself    603
288     named    464
324      high    620
367      with   5767
512       get    798
532     power    471
578       has   3376
636     earth    438
810        it   3071
859      long    314
867     lives    335
902   finally    322
1238     have   1716
1431    known    402
1559       do    740
1834  because    306
1837   school   1436
1958       an   2895
1975      end    329

In [41]:
for i in [10, 50, 100, 150, 200, 300]:
    print(i, len(df_words[df_words['Count'] > i]))

10 4663
50 1118
100 600
150 401
200 304
300 203

In [42]:
from collections import defaultdict

words2 = defaultdict(int)

for syn in synopsis:
    updated = defaultdict(bool)
    for word in syn:
        if not updated[word]:
            words2[word] += 1
            updated[word] = True

In [43]:
df_words2 = pd.DataFrame(list(words2.items()), columns = ['Word', 'Doc_count'])

In [44]:
for i in [10, 50, 100, 150, 200, 300]:
    print(i, len(df_words2[df_words2['Doc_count'] > i]))

10 4065
50 1002
100 547
150 365
200 266
300 180

In [45]:
df_words3 = df_words2[df_words2['Doc_count'] > 100]

In [22]:
words2['robot']

103

In [47]:
df_words3["Word"].head()

67        less
79        each
141    himself
248     anyone
259    monster
Name: Word, dtype: object

#

In [87]:
df_words3 = df_words2[(df_words2['Doc_count'] > 100) & (df_words2['Doc_count'] < 1000)]

In [88]:
word_list = list(df_words3["Word"])

In [89]:
len(word_list)

500

In [90]:
word_list[:100]

['less',
 'each',
 'himself',
 'anyone',
 'monster',
 'named',
 'high',
 'dream',
 'events',
 'get',
 'power',
 'earth',
 'found',
 'true',
 'long',
 'lives',
 'finally',
 'alien',
 "'re",
 'island',
 'far',
 'begins',
 'ca',
 'quickly',
 'instead',
 'great',
 'spirit',
 'known',
 'do',
 'next',
 'because',
 'school',
 'land',
 'end',
 'destroy',
 'game',
 'war',
 'classmates',
 'leads',
 'enemy',
 'had',
 'gets',
 '!',
 'back',
 'unfortunately',
 'course',
 'mission',
 'makes',
 'themselves',
 'seems',
 'daughter',
 'middle',
 'matter',
 'going',
 'means',
 'about',
 'woman',
 'take',
 'together',
 'close',
 'sister',
 'gang',
 'job',
 'having',
 'does',
 'appears',
 'how',
 'search',
 'protect',
 'nature',
 "''",
 'final',
 'old',
 'seeks',
 'people',
 'got',
 'club',
 'lead',
 'however',
 'rest',
 '(',
 'interest',
 'discovers',
 'these',
 'death',
 'becoming',
 'better',
 'past',
 'meets',
 'no',
 'skills',
 'looking',
 'under',
 'business',
 'black',
 'caught',
 'figure',
 'actually',
 'problems',
 'young']

In [91]:
fitered_synopsis = synopsis.map(lambda syn: [word for word in syn if word in word_list])

In [92]:
fitered_synopsis.map(len).mean()

35.79300431241016

In [130]:
pair_count = defaultdict(int)

for syn in fitered_synopsis:
    updated = defaultdict(bool)
    for w1 in syn:
        for w2 in syn:
            if w1 < w2 and not updated[(w1,w2)]:
                pair_count[(w1,w2)] += 1
                updated[(w1,w2)]= True

In [131]:
len(pair_count)

124129

In [132]:
pair_count_series = pd.Series(pair_count)

In [133]:
pair_count_series.mean()

18.36330752684707

In [135]:
pair_count_series.sort_values(ascending = False)[:100]

(       )          980
''      ``         446
high    school     442
more    than       431
(       which      337
)       which      337
        also       310
(       also       309
even    more       293
girl    school     292
)       school     290
(       school     289
also    which      281
about   what       272
school  student    270
(       even       269
)       even       269
        girl       266
about   more       264
)       or         264
(       girl       264
)       more       262
        :          262
(       or         262
        more       261
        :          260
life    school     258
)       world      255
(       world      254
        other      254
                  ...
more    while      226
:       what       224
what    world      223
:       new        223
(       some       223
)       some       223
        though     223
(       though     222
:       more       222
school  so         222
now     world      222
even    world      221
        which      221
which   world      220
just    school     220
also    other      219
        while      219
new     which      219
after   new        219
about   life       219
life    world      219
also    girl       218
about   while      218
girl    which      217
:       other      217
new     while      217
other   which      216
about   other      216
)       after      215
or      world      215
dtype: int64

In [136]:
word_matrix = pd.DataFrame(columns = word_list, index = word_list)

In [137]:
for pair, count in pair_count.items(): 
    word_matrix[pair[0]][pair[1]] = count

In [147]:
df_pairs = pd.DataFrame()

In [158]:
pair_index = pair_count_series.index

In [167]:
df_pairs['A'] = pair_index.map(lambda pair: pair[0])
df_pairs['B'] = pair_index.map(lambda pair: pair[1])
df_pairs['P(A and B)'] = pair_index.map(lambda pair: pair_count_series[pair]/len(df))
df_pairs['P(A)'] = pair_index.map(lambda pair: words2[pair[0]]/len(df))
df_pairs['P(B)'] = pair_index.map(lambda pair: words2[pair[1]]/len(df))
df_pairs['P(A | B)'] = pair_index.map(lambda pair: pair_count_series[pair]/words2[pair[1]])
df_pairs['P(B | A)'] =  pair_index.map(lambda pair: pair_count_series[pair]/words2[pair[0]])
df_pairs['P(A and B)/(P(A)*P(B))'] = pair_index.map(lambda pair: len(df)*pair_count_series[pair]/(words2[pair[0]]*words2[pair[1]]))

In [169]:
df_pairs[df_pairs['A'] == 'school']

,A,B,P(A),P(B),P(A and B),P(A | B),P(B | A),P(A and B)/(P(A)*P(B))
116039,school,search,0.226881,0.028749,0.003115,0.108333,0.013728,0.477490
116040,school,second,0.226881,0.044082,0.012698,0.288043,0.055966,1.269581
116041,school,secret,0.226881,0.073551,0.020843,0.283388,0.091869,1.249060
116042,school,secrets,0.226881,0.027552,0.005750,0.208696,0.025343,0.919848
116043,school,see,0.226881,0.055343,0.014854,0.268398,0.065470,1.182993
116044,school,seek,0.226881,0.024916,0.005510,0.221154,0.024287,0.974758
116045,school,seeks,0.226881,0.031864,0.005989,0.187970,0.026399,0.828497
116046,school,seem,0.226881,0.046957,0.012218,0.260204,0.053854,1.146876
116047,school,seems,0.226881,0.101821,0.031624,0.310588,0.139388,1.368950
116048,school,sent,0.226881,0.025874,0.004792,0.185185,0.021119,0.816223
116049,school,series,0.226881,0.052228,0.008385,0.160550,0.036959,0.707643
116050,school,set,0.226881,0.051270,0.008864,0.172897,0.039071,0.762062
116051,school,sets,0.226881,0.026593,0.003115,0.117117,0.013728,0.516206
116052,school,several,0.226881,0.026114,0.007906,0.302752,0.034847,1.334412
116053,school,short,0.226881,0.028510,0.006229,0.218487,0.027455,0.963006
116054,school,show,0.226881,0.028510,0.008385,0.294118,0.036959,1.296354
116055,school,side,0.226881,0.042885,0.011500,0.268156,0.050686,1.181927
116056,school,since,0.226881,0.071155,0.021562,0.303030,0.095037,1.335637
116057,school,sister,0.226881,0.068280,0.020364,0.298246,0.089757,1.314548
116058,school,situation,0.226881,0.031385,0.010541,0.335878,0.046463,1.480416
116059,school,skills,0.226881,0.024197,0.006469,0.267327,0.028511,1.178270
116060,school,small,0.226881,0.027312,0.005271,0.192982,0.023231,0.850590
116061,school,so,0.226881,0.187829,0.053186,0.283163,0.234424,1.248071
116062,school,some,0.226881,0.162434,0.040968,0.252212,0.180570,1.111652
116063,school,someone,0.226881,0.037853,0.008146,0.215190,0.035903,0.948472
116064,school,something,0.226881,0.073551,0.021083,0.286645,0.092925,1.263417
116065,school,son,0.226881,0.027552,0.003594,0.130435,0.015839,0.574905
116066,school,soon,0.226881,0.111164,0.034260,0.308190,0.151003,1.358378
116067,school,soul,0.226881,0.025874,0.004792,0.185185,0.021119,0.816223
116068,school,space,0.226881,0.042166,0.006229,0.147727,0.027455,0.651123
...,...,...,...,...,...,...,...,...
116136,school,was,0.226881,0.138476,0.036416,0.262976,0.160507,1.159093
116137,school,way,0.226881,0.149257,0.037853,0.253612,0.166843,1.117819
116138,school,ways,0.226881,0.027312,0.008625,0.315789,0.038015,1.391875
116139,school,well,0.226881,0.086009,0.024677,0.286908,0.108765,1.264577
116140,school,were,0.226881,0.040728,0.010781,0.264706,0.047518,1.166718
116141,school,what,0.226881,0.215860,0.050551,0.234184,0.222809,1.032191
116142,school,where,0.226881,0.145424,0.038093,0.261944,0.167899,1.154545
116143,school,whether,0.226881,0.025874,0.008864,0.342593,0.039071,1.510012
116144,school,which,0.226881,0.195736,0.055582,0.283966,0.244984,1.251608
116145,school,while,0.226881,0.189986,0.045280,0.238335,0.199578,1.050488
116146,school,whom,0.226881,0.032583,0.009104,0.279412,0.040127,1.231536
116147,school,whose,0.226881,0.066363,0.015093,0.227437,0.066526,1.002451
116148,school,why,0.226881,0.038093,0.011979,0.314465,0.052798,1.386039
116149,school,win,0.226881,0.024197,0.005750,0.237624,0.025343,1.047351
116150,school,within,0.226881,0.033062,0.007667,0.231884,0.033791,1.022053
116151,school,without,0.226881,0.043603,0.011260,0.258242,0.049630,1.138227
116152,school,woman,0.226881,0.053905,0.010541,0.195556,0.046463,0.861931
116153,school,work,0.226881,0.064926,0.013896,0.214022,0.061246,0.943325
116154,school,working,0.226881,0.031864,0.008146,0.255639,0.035903,1.126756
116155,school,world,0.226881,0.237662,0.050551,0.212702,0.222809,0.937504
116156,school,worse,0.226881,0.030426,0.008385,0.275591,0.036959,1.214694
116157,school,would,0.226881,0.056780,0.015333,0.270042,0.067582,1.190239
116158,school,year,0.226881,0.070436,0.027552,0.391156,0.121436,1.724062
116159,school,years,0.226881,0.133206,0.027791,0.208633,0.122492,0.919572
116160,school,yet,0.226881,0.042166,0.011979,0.284091,0.052798,1.252160
116161,school,you,0.226881,0.052228,0.008385,0.160550,0.036959,0.707643
116162,school,young,0.226881,0.162913,0.026114,0.160294,0.115100,0.706513
116163,school,younger,0.226881,0.026833,0.009344,0.348214,0.041183,1.534790
116164,school,–,0.226881,0.126977,0.042405,0.333962,0.186906,1.471973
116165,school,”,0.226881,0.038572,0.012458,0.322981,0.054910,1.423574

In [178]:
df_pairs.sort_values(by = 'P(A and B)/(P(A)*P(B))', ascending = False).head(30)

,A,B,P(A),P(B),P(A and B),P(A | B),P(B | A),P(A and B)/(P(A)*P(B))
74482,giant,robot,0.033301,0.024677,0.008385,0.339806,0.251799,10.203953
29333,blood,vampire,0.026114,0.024197,0.005989,0.247525,0.229358,9.478608
1006,'',``,0.107331,0.107331,0.106852,0.995536,0.995536,9.275371
89958,kingdom,princess,0.026833,0.044322,0.008864,0.200000,0.330357,7.453571
110550,pilot,robot,0.027072,0.024677,0.004792,0.194175,0.176991,7.172437
97927,magic,magical,0.036655,0.047676,0.011979,0.251256,0.326797,6.854534
89589,king,kingdom,0.037853,0.026833,0.006948,0.258929,0.183544,6.840303
52486,dream,dreams,0.025635,0.033541,0.005750,0.171429,0.224299,6.687316
8719,academy,students,0.049832,0.049353,0.016291,0.330097,0.326923,6.624160
12446,alien,planet,0.034020,0.034260,0.007667,0.223776,0.225352,6.577760
111070,planet,space,0.034260,0.042166,0.009344,0.221591,0.272727,6.467975
54427,efforts,gradually,0.025156,0.024437,0.003833,0.156863,0.152381,6.235668
107925,older,younger,0.029229,0.026833,0.004792,0.178571,0.163934,6.109485
118373,sister,younger,0.068280,0.026833,0.011021,0.410714,0.161404,6.015163
32194,brother,older,0.051989,0.029229,0.009104,0.311475,0.175115,5.991237
68968,force,police,0.043603,0.028749,0.007427,0.258333,0.170330,5.924634
32373,brother,younger,0.051989,0.026833,0.008146,0.303571,0.156682,5.839203
38461,club,members,0.042885,0.045999,0.011500,0.250000,0.268156,5.829609
48667,despite,efforts,0.045759,0.025156,0.006708,0.266667,0.146597,5.827574
95115,like,looks,0.116195,0.028749,0.019406,0.675000,0.167010,5.809175
12130,ago,years,0.044082,0.133206,0.034020,0.255396,0.771739,5.793596
19739,attention,interest,0.027072,0.027552,0.004312,0.156522,0.159292,5.781608
36951,class,teacher,0.049114,0.024677,0.006948,0.281553,0.141463,5.732702
72871,game,play,0.047437,0.028749,0.007667,0.266667,0.161616,5.621549
74450,giant,pilot,0.033301,0.027072,0.005031,0.185841,0.151079,5.580569
111024,planet,race,0.034260,0.024437,0.004552,0.186275,0.132867,5.437131
103119,monster,monsters,0.028989,0.032343,0.005031,0.155556,0.173554,5.366024
16898,anyone,else,0.031145,0.033062,0.005510,0.166667,0.176923,5.351282
120323,students,teacher,0.049353,0.024677,0.006469,0.262136,0.131068,5.311434
12235,alien,earth,0.034020,0.076425,0.013656,0.178683,0.401408,5.252285